@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin";
  background-color: #758190;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  padding: 1%;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.stats-container {
  display: flex;
  align-items: center;
}

.stats-container:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
  position: relative;
  z-index: 0;
  overflow: hidden;

  transform: translateY(0px) rotate(0deg);
  transition: transform 0.3s ease;
}

.game-card:hover {
  cursor: pointer;
  animation: hoverEffect 0.7s ease forwards;
  box-shadow: 0 0 30px lightblue; 
}

@keyframes hoverEffect {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-10px) rotate(-15deg);
  }
  100% {
    transform: translateY(-10px) rotate(0deg);
  }
}

.game-card::after {
  content: "";
  position: absolute;
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  background: linear-gradient(45deg, #00f2fe, #4facfe, #00f2fe);
  background-size: 400% 400%;
  filter: blur(30px);
  opacity: 0;
  transition: opacity 0.4s ease, background-position 1.5s ease;
  z-index: -1;
}

.game-card:hover::after {
  opacity: 1;
  background-position: 100% 0;
}

#button-container {
  text-align: center;
}

button {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}
